.menu-fadeIn {
    animation: fadeIn 0.5s both;
  }
  
  .menu-fadeOut {
    animation: fadeOut 0.5s both;
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.nav-icon2 {
    width: 40px;
    height: 45px;
    position: relative;
    margin: 30px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    /* background: #2a2a2a; */
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  .nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }
  
  .nav-icon2 span:nth-child(1),
  .nav-icon2 span:nth-child(2) {
    top: 5px;
  }
  
  .nav-icon2 span:nth-child(3),
  .nav-icon2 span:nth-child(4) {
    top: 18px;
  }
  
  .nav-icon2 span:nth-child(5),
  .nav-icon2 span:nth-child(6) {
    top: 32px;
  }
  
  .nav-icon2.open span:nth-child(1),
  .nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-icon2.open span:nth-child(2),
  .nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 10px;
  }
  
  .nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 10px;
  }
  
  .nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  .nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  .nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 20px;
  }
  
  .nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 20px;
  }
  
  
  .pfeil {
    /* margin-left: -20px; */
    top: -5px;
    left: 33px;
    transform :rotateZ(25deg);
    /* border: 2px solid red; */
  }
  
  .Ziel{
    animation: 0.3s   slideInFromRigth;
    border: 2px solid red;
    width: 10px;
    height: 0px;
    position: absolute;
    top: -20px;
  }
  
  @keyframes slideInFromRigth {
    0% {
      transform: translateX(10%)
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translate(-100%, -50%) rotateZ(0deg);
    }
    75% {
      transform: translate(0)  rotateZ(25deg);
    }
    80%{
      transform: translateX(0px) rotateZ(25deg);
    }
    85%{
      transform: translateX(-5px) rotateZ(25deg)
    }
    90%{
      transform: translateX(5px) rotateZ(25deg);
    }
    95%{
      transform: translateX(-5px) rotateZ(25deg);
    }
    100%{
      transform: translateX(0) rotateZ(25deg);
    }
  }
  
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }
  
  /* @keyframes rotateArrow {
    0% {
      transform: rotateZ(-45deg);
    }
    100% {
      transform: rotateZ(45deg);
    }
  } */
  
  .pfeilani {
    animation: 0.2s   slideInFromLeft;
  
  
  }
  
  /* .container{
    animation-name: horizontal-shaking;
    animation-delay: 0.55s;
    animation-duration: 0.1s;
  } */